---
name: Run Unit Tests

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - main
    path:
      - "src/backend/**"
      - "tests/**"

permissions:
  contents: read
  pull-requests: write

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          pip install -r src/backend/requirements.txt \
                      -r tests/requirements-test.txt

      - name: Run tests with coverage
        run: |
          pytest tests/ --junitxml=pytest.xml \
                 --cov-report=term-missing:skip-covered \
                 --cov=src/backend \
                | tee pytest-coverage.txt

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@v1
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
